@charset "utf-8";
/* CSS Document */

	* { margin:0; padding:0; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";}
	body { background-image:url(../images/bg.png); z-index:-2; width: 100%; }
	
		#pc_main {width:100%; font-family:Helvetica;}
		#mobile_main {display: none;}
		.logo {width:20%;}
		nav{
			font-size: 0.85em;
			float: left;
			z-index: 12;
			background-color: #ffffff;
			width: 100%;
			text-align: center;
			}
			nav ul{
					z-index:12;
					text-align:center;
					margin:0 auto;
					width:100%;
					list-style:none;
					position:relative;
					display:none;
					display:-webkit-box;
				}
			nav ul li{
					width: 100%;
					box_flex:1;
					-webkit-box-flex:1;
				}
			nav ul li:hover{
					background-color:#fff;
					color:#4AEFD1;
				}
			nav ul li a{
					display:block;
					margin-left:5%;
					padding:1%;
					color:#000;
					text-decoration:none;
				}
			nav ul li:hover a{
					color:#4AEFD1;
					display:block;
				}
			nav ul li:hover>ul{
					display:contents;
				}
			nav ul ul{
				display:none;
				width:32.4%;
				padding:1%;
				background:#fff;
				opacity:0.8;
				color:#4AEFD1;
				border-radius:0px;
				position:absolute;
				top:100%;
				}
			nav ul ul li{
				position:relative;
				}
			nav ul ul li:hover{
				background:#fff;
				opacity:0.5;
				}

      nav tr td {
        width: 6%;
        padding: 0;
      }

      nav tr td a {
        color: black;
      }

      nav tr td.first {
        width: 3.5%;
      }

      nav tr td.contact {
        width: 12%;
      }
				#mobile_main {display:none;}
				#mobile_navi {display:none;}

		 
		.nav {display:none;}

		.nav-contact-mobile {display: none;}
		.nav-contact-pc {width: 20px; margin-left: 0; padding: 0; margin: 0;}
			.nav-contact-pc-link {padding: 0; margin: 0; margin-left: 3px;}

		.jquery-script-ads{display:none;}


		.pc_banner { width:100%;  margin-left:13%;  margin-top: 3%; color:#fff; text-align:justify; font-display: swap; }
		 	.table1 {width:100%;}
			.banner1 { margin-left: 5%; width:100%;}
			.follw {width: 7%; margin-left: 15%;}
			.phone_logo {width: 5%; margin-top: 2%;margin-left: 16%;}
			.insta_logo {width: 5%; margin-top: 2%;margin-left: 16%;}
			.kakao_logo {width: 5%; margin-top: 2%;margin-left: 16%;}
			.talktalk_logo {width: 5%; margin-top: 2%;margin-left: 16%;}
			.cafe_logo {width: 8%; margin-top: 3%;margin-left: 15%;}
			.blog_logo {width: 5%; margin-top: 3%;margin-left: 16%;}
			.facebook_logo {width: 5%; margin-top: 3%;margin-left: 16%;}
			.youtube_logo {width: 5%; margin-top: 3%;margin-left: 16%;}

		.reser{margin-right: 18%;}
		
		.mobile_banner{display: none;}

		.small_wave {width: 10%;}	
		.circle{width: 3%; margin-top: 3%; margin-bottom: 3%;}
		
		#intro {font-display: swap;}
		
			.video-wrap {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
			.video-wrap iframe,
			.video-wrap object,
			.video-wrap embed {position:absolute; top:0; left:0; width:100%; height:100%;}

		#guesthouse {font-display: swap;}			

		#photo {font-display: swap;}
		

		#location {font-display: swap;}	
		.map{width: 3%;}
		.car{width: 4%;}
		.bus{width: 3%;}
		.bus_time{width: 100%;}
			
		#faq {font-display: swap;}				
		
		#menu {display:none;}
		.mobile_content {display:none;}
		.top1{ width:6%; position: fixed; margin-left: 80%; bottom: 50px;}
		.top2{display: none;}
		#footer { width:100%; background-color:#1A1A1A; color:#fff; margin-top:10px; margin:auto; text-align:center; position:fixed; bottom:0px; }
